---
http_interactions:
- request:
    method: post
    uri: https://sandbox-rest.avatax.com/api/v2/transactions/createoradjust
    body:
      encoding: UTF-8
      string: '{"createTransactionModel":{"code":"R485909315","date":"2022-09-30","discount":"0.0","commit":false,"type":"SalesOrder","lines":[{"number":"1-LI","description":"Product
        #35 - 9402","taxCode":"PC030000","itemCode":"SKU-35","quantity":1,"amount":10.0,"discounted":false,"taxIncluded":false,"addresses":{"shipFrom":{"line1":"1600
        Pennsylvania Ave NW","line2":null,"city":"Washington","region":"AL","country":"US","postalCode":"20500"},"shipTo":{"line1":"915
        S Jackson St","line2":"","city":"Montgomery","region":"AL","country":"US","postalCode":"36104"}},"customerUsageType":null,"businessIdentificationNo":null,"exemptionCode":null},{"number":"1-FR","itemCode":"Avalara
        Ground","quantity":1,"amount":5.0,"description":"Shipping Charge","taxCode":"FR000000","discounted":false,"taxIncluded":false,"addresses":{"shipFrom":{"line1":"1600
        Pennsylvania Ave NW","line2":null,"city":"Washington","region":"AL","country":"US","postalCode":"20500"},"shipTo":{"line1":"915
        S Jackson St","line2":"","city":"Montgomery","region":"AL","country":"US","postalCode":"36104"}},"customerUsageType":null,"businessIdentificationNo":null,"exemptionCode":null}],"customerCode":1,"companyCode":"DEFAULT","customerUsageType":null,"exemptionNo":null,"referenceCode":"R485909315","currencyCode":"USD","businessIdentificationNo":null}}'
    headers:
      X-Avalara-Uid:
      - a0o33000004FH8l
      Content-Type:
      - application/json
      Authorization:
      - Basic MTIzNDU6MTIzNDU=
  response:
    status:
      code: 401
      message: Unauthorized
    headers:
      Content-Type:
      - application/json
      X-Correlation-Id:
      - c83440a6-a032-4dbe-8a45-442f29ad3437
      X-Avalara-Uid:
      - c83440a6-a032-4dbe-8a45-442f29ad3437
    body:
      encoding: UTF-8
      string: '{"error": {"code": "AuthenticationException","message": "Authentication
        failed.","details": [{"code": "AuthenticationException","message": "Authentication
        failed.","description": "Missing authentication or unable to authenticate
        the user or the account.","faultCode": "Client","helpLink": "http://developer.avalara.com/avatax/errors/AuthenticationException"}]}}'
  recorded_at: Fri, 30 Sep 2022 21:27:47 GMT
[...]
